<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login Test Suite">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter"/>
        <listener class-name="org.testng.reporters.XMLReporter"/>
        <listener class-name="org.testng.reporters.TestHTMLReporter"/>
    </listeners>
    <test name="Login Test">
        <classes>
            <class name="com.example.tests.LoginTest">
                <methods>
                    <include name="testSuccessfulLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>